li:before, li:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #888;
  }
  
  li:before {
    left: -2.5px;
  }
  li:after {
    right: 2.5px;
    background: #888;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  li:hover:before {
    background: #888;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  li:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  li{
      user-select: none;
  }